.container{
	display: grid;
	height: 100vh;
	color: white;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.4fr 1.5fr 1.3fr 0.8fr;
	grid-template-areas: "navbar navbar navbar navbar"
	"sidebar main main main"
	"sidebar box1 box2 box3"
	"sidebar footer footer footer";
	grid-gap: 0.2rem;
	text-align: center;
	font-size: 1.5rem;

}
nav {background: red;
	grid-area: navbar;
}
main{background: blue;
grid-area:main;

}
.siderbar{
	background: skyblue;
	grid-area: sidebar;
}
.box1{
	background: hotpink;
}
.box2{
	background: red;
}
.box3{background: orange}
footer{
	background: grey;
	grid-area: footer;
}
@media only screen and (max-width:640px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 2fr 0.2fr 1.2fr 1.2fr 1.2fr 1fr;
		grid-template-areas: "navbar""main" "sidebar" " box1" "box2" "box3" "footer";
	}
}